<div class="input-group">
    <span class="input-group-btn">
        <button 
            class="btn btn-{{ colorClass }}" 
            type="button"
            (click)="setValue(-10)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input 
        type="number" 
        class="form-control"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="value"
        [ngClass]="{'is-invalid': isInvalid()}"
    />
    <span class="input-group-btn">
        <button 
            class="btn btn-{{ colorClass }}" 
            type="button"
            (click)="setValue(10)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>