<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">General info</h4>
                <h6 class="card-subtitle">User information, contact details ...</h6>
                <form class="form p-t-20"
                    [formGroup]="generalForm"
                    (ngSubmit)="saveGeneralForm()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" placeholder="Name" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                [readOnly]="user.googleAuth">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="generalForm.invalid">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Image used in the application to identify this user</h6>
                <div class="form-group">
                    <img *ngIf="!tmpImage" [src]="user.imageUrl" class="img-avatar"/>
                    <img *ngIf="tmpImage" [src]="tmpImage" class="img-avatar"/>
                    <div class="input-group">
                        <input 
                            type="file" 
                            class="form-control"
                            (change)="setTmpImage($event)"
                        />
                    </div>
                </div>
                <button 
                    type="submit" 
                    class="btn btn-success waves-effect waves-light m-r-10" 
                    [disabled]="!tmpImage"
                    (click)="uploadImage()">
                    <i class="fa fa-save"></i>
                    Set avatar
                </button>
            </div>
        </div>
    </div>
</div>