/* acelerate animations */

.fast{
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cursor-pointer {
    cursor: pointer;
}

.img-avatar {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 35px auto;
}